body {
    display: flex;
    align-items: center;
    height: 100vh;
    margin: 0;
    flex-direction: column;
}

#boutons {
    display: flex;
    justify-content: center;
}

button {
    border: none;
    border-radius: 25px;
    padding: 25px;
    background-color: rgba(128, 128, 128, 0.75);
    color: white;
    margin: 0 10px; /* Pour espacer les boutons */
}

button:hover {
    color: green;
}

img {
    width: 50px;
}

.nom-bouton {
    font-size: 1rem;
    display: flex;
    flex-direction: column;
    padding-bottom: 10px;
}

.image-container {
    position: relative;
    width: 100px;
    height: 100px;
}

.image-container img {
    display: none;
    position: absolute;
    top: 50%;
    left: 50%;
    width: 120%; /* Plus de 100% pour agrandir */
    height: 120%; /* Plus de 100% pour agrandir */
    transform: translate(-50%, -50%);
}

#resultats {
    font-size: 1.5rem;
}

/* Responsive */

@media screen and (min-width: 384px) {
    #boutons {
        padding-bottom: 150px;
    }
    button {
        padding: 50px;
        margin: 0 20px; /* Pour espacer les boutons */
    }
    img {
        width: 150px;
    }
    #resultats {
        font-size: 4rem;
    }
    .nom-bouton {
        font-size: 3rem;
        padding-bottom: 50px;
    }
    .image-container img {
        width: 300%; /* Plus de 100% pour agrandir */
        height: 300%; /* Plus de 100% pour agrandir */
        transform: translate(-50%, -50%);
    }
}

@media screen and (min-width: 1024px) {
    button {
        padding: 50px;
    }
    img {
        width: 100px;
    }
    #resultats {
        font-size: 2rem;
        margin-bottom: 50px;
    }
    .nom-bouton {
        font-size: 1.5rem;
        padding-bottom: 20px;
    }
    .image-container img {
        width: 100%; /* Ajustez selon vos besoins */
        height: 100%; /* Ajustez selon vos besoins */
        transform: translate(-50%, -50%);
    }
}
